---
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-yaml
          - id: detect-aws-credentials
            args: [--allow-missing-credentials]
          - id: detect-private-key
          - id: end-of-file-fixer
          - id: fix-encoding-pragma
            args: [--remove]
          - id: name-tests-test
          - id: trailing-whitespace
          - id: detect-aws-credentials
            args: [--allow-missing-credentials]
          - id: check-merge-conflict

    - repo: https://github.com/adrienverge/yamllint.git
      rev: v1.37.1
      hooks:
          - id: yamllint

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.3
      hooks:
          - id: yamlfmt
            args: [--mapping, '4']

    # - repo: https://github.com/syntaqx/git-hooks
    #   rev: v0.0.17
    #   hooks:
    #       - id: circleci-config-validate

    - repo: https://github.com/milin/giticket
      rev: v1.5
      hooks:
          - id: giticket
            args: ['--regex=[A-Z]+-\d+', '--format={ticket} {commit_msg}'] # Optional
