---
version: 2.1
orbs:
    ios-orb: kevnm67/ios-orb@dev:<<pipeline.git.revision>>
    orb-tools: circleci/orb-tools@12.4.0

filters: &filters
    tags:
        only: /.*/

workflows:
    test-deploy:
        jobs:
        # Make sure to include "filters: *filters" in every test job you want to run as part of your deployment.
            - ios-orb/run_with_setup:
                  name: ios_setup_test
                  filters: *filters
            - orb-tools/pack:
                  filters: *filters
            - orb-tools/publish:
                  orb_name: kevnm67/ios-orb
                  vcs_type: << pipeline.project.type >>
                  pub_type: production
                  requires:
                      - orb-tools/pack
                      - ios_setup_test
                  context: orb-publishing
                  filters:
                      branches:
                          ignore: /.*/
                      tags:
                          only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
